<div class="container">
    <div class="personal-info">
        <h1 class="name">Hello,<br> <span>{{user.name}}</span></h1>
        <div>
            <div class="contact-info">
                <h2>Contact info</h2>
                <span class="email"><strong>Email:</strong> {{user.email}}</span>
                <span class="number"><strong>Number:</strong> {{user.phone}}</span>
                <span><strong>Address:</strong> {{user.address}}</span>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <mat-accordion *ngFor="let order of orders;index as i">
            <mat-expansion-panel >
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Order: {{i+1}}
                    </mat-panel-title>
                    <mat-panel-description >
                        <span>
                            Total: ${{order.total}}
                            |
                            Status: {{order.status}}
                        </span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <app-order [products]="order.products"></app-order>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>