@import 'src/variables';
.product-container{
    @include flex(row,flex-start,center);

    @media screen and (max-width:900px){
        @include flex(column,center,center);

    }
    .description{
       margin-left:1vw;
       span{
        color:$font-color;
        display: block;
       }
       .des{
        color:$primary-color;
       }
    }
}


mat-expansion-panel {
    background-color: $background-color;
    border: 1px solid $border-color;
    color: $primary-color;

    p,
    mat-panel-title,
    mat-panel-description {
        color: $primary-color;
        span {color: $primary-color;}
        
    }
}
.mat-expansion-panel-header-description{
    justify-content: space-between;
    align-items: center;
}

::ng-deep mat-expansion-panel-header > .mat-expansion-indicator:after {
    color: $primary-color;
  }